{% extends "layout.html" %} {% block body %}
<table>
  <tr>
    <th>ID</th>
    <th>Database</th>
    <th></th>
  </tr>
  {% for database in databases %}
  <tr>
    <td>
      {{database.id}}
    </td>
    <td>
      <a href="{{database.id}}">{{database.name}}</a>
    </td>
    <td>
      <a href="rename/{{database.id}}">Rename</a>
      <form
        method="GET"
        action="{{ url_for('database_delete', database_id=database.id) }}"
      >
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
