{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tables_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.columns.label }}
            </td>
            <td>
                {{ form.columns }}
            </td>
            <td>
                <ul>
                    {% for error in form.columns.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Add a new table" />
            </td>
        </tr>
</form>
{% endblock %}